<div class="navbar-fixed-top">
    <div class="container-fluid" id="header">
        <div class="container">
            <div class="row header-content">

                <div class="col-md-2">
                    <div class="logo">
                        <a href="/">WearWiki</a>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="col-xs-8 no-offset">
                        <div class="search-box">
                            <div class="search-btn">
                              <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="search-field">
                              <input class="search-box" type="text" name="key" placeholder="What are you looking for?" />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2 text-center shopping-bag">
                        <a href="/cart"><img src="/images/shopping-bag.png" /></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <nav class="navbar">
        <div class="container">
            <!--<div class="navbar-header">-->
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                    <!--<span class="icon-bar"></span>-->
                <!--</button>-->
                <!--<a class="collapse" href="/">eProject</a>-->
            <!--</div>-->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/c/1">Her</a></li>
                    <li><a href="/c/2">Him</a></li>
                    <li><a href="/c/3">Kids</a></li>
                    <li><a href="/c/4">Beauty</a></li>
                    <li><a href="/c/5">Bags</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-if="isLogin === true && authBuyer.firstname.length > 0">
                        <a href="" class="dropdown-toggle" type="button" data-toggle="dropdown">{{authBuyer.firstname}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/orders">My Orders</a></li>
                            <li><a href="/account">My Account</a></li>
                            <li><a href="/addresses">My Addresses</a></li>
                            <li><a href="/wish-list">My Wish List</a></li>
                            <li class="divider"></li>
                            <li><a href="/" ng-click="logout()">Logout</a></li>
                        </ul>
                    </li>
                    <li ng-if="isLogin === false"><a href="/signup">Sign up</a></li>
                    <li ng-if="isLogin === false"><a ng-href="/login?rp={{locationPath()}}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <div class="alerts" ng-if="alerts.length > 0">
        <div class="row" ng-repeat="alert in alerts track by $index">
            <div class="col-md-12 global-messages">
                <div class="alert alert-{{alert.type}}">
                    <a ng-click="closeAlert($index)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{alert.icn}}</strong> {{alert.message}}
                </div>
            </div>
        </div>
    </div>



</div>
