<form ng-submit="changPassword()">
    <div class="form-group">
        <label>Current Password</label>
        <input type="password" class="form-control" ng-model="changePassword.currentPassword" ng-minlength="6" required />
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input type="password" class="form-control" ng-model="changePassword.newtPassword" ng-minlength="6" required />
    </div>
    <div class="form-group">
        <label>Confirm New Password</label>
        <input type="password" class="form-control"  ng-model="changePassword.confirmPassword" ng-minlength="6" required />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Update" />
    </div>
</form>