<div class="container">
    <div class="col-sm-3">
        <account-side-menu></account-side-menu>
    </div>

    <div class="col-sm-9">
        <p>You didn't made any order yet</p>
    </div>
</div>