<div class="container">

    <div class="row" ng-if="cartOffers.length == 0">
        <p>Your cart is empty.</p>
    </div>

    <div ng-if="cartOffers.length > 0">

        <div class="col-md-9">
            <div class="row" ng-repeat="row in cartOffers" ng-if="row.status == 'available'">
                <div class="col-md-2">
                    <a ng-href="/offer/{{row.offerId}}/{{row.offerVariationId}}/{{row.title}}?s={{row.sizeId}}">
                        <img class="img-responsive" ng-src="{{row.picture | imageFilter: SImage : mainCover}}" alt="" />
                    </a>
                </div>
                <div class="col-md-7">
                    <h4><a ng-href="/offer/{{row.offerId}}/{{row.offerVariationId}}/{{row.title}}?s={{row.sizeId}}">{{row.title}}</a></h4>
                    <ul class="list-inline">
                        <li>Color: {{row.color}}</li>
                        <li>Size: {{row.size}}</li>
                    </ul>
                    <a href="javascript:void(0)" ng-click="removeFromCart(row.cartId)"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove from cart</a>
                </div>
                <div class="col-md-2">
                    Quantity: <input type="number" class="form-control" id="quantity" ng-init="offersQuantity[row.cartId] = row.quantity" ng-model="offersQuantity[row.cartId]" style="width: 70px" />
                    <a href="javascript:void(0)" ng-click="updateQuantity(row.cartId)">Update</a>
                </div>
                <div class="col-md-1">
                    <h5>${{row.price}}</h5>
                </div>
            </div>

            <div class="row" ng-repeat="row in cartOffers" ng-if="row.status == 'outOfStock'">
                <div class="col-md-2">
                    <a ng-href="/offer/{{row.offerId}}/{{row.offerVariationId}}/{{row.title}}?s={{row.sizeId}}">
                        <img class="img-responsive" ng-src="{{row.picture | imageFilter: SImage : mainCover}}" alt="" />
                    </a>
                </div>
                <div class="col-md-10">
                    <h4><a ng-href="/offer/{{row.offerId}}/{{row.offerVariationId}}/{{row.title}}?s={{row.sizeId}}">{{row.title}}</a></h4>
                    <ul class="list-inline">
                        <li>Color: {{row.color}}</li>
                        <li>Size: {{row.size}}</li>
                        <li>Price: ${{row.price}}</li>
                    </ul>
                    <p>This offer is out of stock</p>sssss
                    <a class="btn btn-danger" ng-click="removeFromCart(row.cartId)">Remove from cart</a>
                </div>
                <hr />
            </div>

            <div class="row" ng-repeat="row in cartOffers" ng-if="row.status == 'unavailable'">
                <div class="col-md-2">
                    <img class="img-responsive" ng-src="{{row.picture | imageFilter: SImage : mainCover}}" alt="" />
                </div>
                <div class="col-md-10">
                    <h4>{{row.title}}</h4>
                    <ul class="list-inline">
                        <li>Color: {{row.color}}</li>
                        <li>Size: {{row.size}}</li>
                    </ul>
                    <p>This offer unavailable form seller!</p>
                    <a class="btn btn-danger" ng-click="removeFromCart(row.cartId)">Remove from cart</a>
                </div>
                <hr />
            </div>
        </div>

        <div class="col-md-3">
            <h4>Total Price: ${{orderSummary.subtotal}}</h4>
            <a class="btn btn-primary" href="/checkout">Checkout</a>
            <hr />
            <h5>Summary</h5>
            <p>Items Price: ${{orderSummary.itemsTotalPrice}}</p>
            <p>Shipping Cost: ${{orderSummary.shippingCost}}</p>
            <hr />
            <p>Will be Shipped to:</p>
            <select class="form-control">
                <option ng-repeat="address in buyerAddresses" ng-selected="address.isPrimary">{{address.firstname}}, {{address.city.name}}, {{address.addressLine1}}</option>
            </select>
            <hr />
            <p>Estimated delivery time within 3-5 business days</p>
        </div>

    </div>

</div>