<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <h2>Login</h2>
            <form ng-submit="login()">
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" ng-model="loginForm.email" id="email" class="form-control" required autofocus />
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" ng-model="loginForm.password" id="password" class="form-control" required />
                </div>
                <div class="form-group">
                    <label><input type="checkbox" ng-model="loginForm.rememberMe" /> Remmember Me</label>
                </div>
                <div class="form-group">
                    <a href="">Forgot your password?</a>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Login" /><i class="fa-li fa fa-spinner fa-spin" ng-if="waiting"></i>
                </div>
            </form>
        </div>
    </div>
</div>
