<form ng-submit="submit()">
    <div class="col-md-6 no-offset">
        <div class="form-group firstname-group">
            <label class="control-label" for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" ng-model="address.firstname" ng-minlength="2" placeholder="Contact First Name" required />
        </div>
    </div>
    <div class="col-md-6 no-offset">
        <div class="form-group lastname-group">
            <label class="control-label" for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" ng-model="address.lastname" ng-minlength="2" placeholder="Contact Last Name" required />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label" for="country">Country</label>
        <select class="form-control" id="country" data-ng-model="address.countryId" ng-change="updateCitiesDropdown()" ng-options="country.id as country.name for country in countries" required>
        </select>
    </div>
    <div class="form-group" ng-show="cities.length > 0">
        <label class="control-label" for="city">City</label>
        <select class="form-control" id="city" data-ng-model="address.cityId" ng-options="city.id as city.name for city in cities" required>
        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="addressLine1">Address Line 1</label>
        <input type="text" class="form-control" id="addressLine1" ng-model="address.addressLine1" placeholder="Street address, P.O. box, company name, c/o" required />
    </div>
    <div class="form-group">
        <label class="control-label" for="addressLine2">Address Line 2</label>
        <input type="text" class="form-control" id="addressLine2" ng-model="address.addressLine2" placeholder="Apartment, suite, unit, building, floor, etc." />
    </div>
    <div class="col-md-6 no-offset">
        <div class="form-group firstname-group">
            <label class="control-label" for="region">State / Region / Area</label>
            <input type="text" class="form-control" id="region" ng-model="address.region" />
        </div>
    </div>
    <div class="col-md-6 no-offset lastname-group">
        <div class="form-group">
            <label class="control-label" for="postalCode">ZIP / Postal Code</label>
            <input type="text" class="form-control" id="postalCode" ng-model="address.postalCode" />
        </div>
    </div>
    <div class="form-group">
        <label>Contact Phone Number</label>
        <input type="number" class="form-control" ng-model="address.phone" placeholder="Required in case there are questions for shipping address" required >
    </div>
    <div class="form-group">
        <input type="checkbox" mg-model="address.isPrimary" ng-init="address.isPrimary = true" />
        <label>Use as Primary Address</label>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" ng-value="formType == 'edit'? 'Update Address' : 'Save Address'" />
    </div>
</form>