<div id="footer-top-row" class="container-fluid">
	<div class="container text-justify">
		<h6>
			We offer only original high quality products with best prices, that are made by a very skilled tailors.
		</h6>
	</div>
</div>
<div id="footer" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h5 class='footer-header'>Wearwiki</h5>
				<p>The first online fashion and shopping website for those people who embrace a modest dressing style and through which they can find thousands of options in line with their dressing style.</p>
			</div>
			<div class="col-sm-3">
				<h5 class='footer-header'>Wearwiki</h5>
				<ul>
					<li><a href="/contact">Contact Us</a></li>
					<li><a href="/faq">Help Center</a></li>
					<li><a href="/policy">Privacy Policy</a></li>
					<li><a href="/terms">Terms of Use</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<h5>Stay Connected</h5>
				<ul>
                	<li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                	<li><a href="#"><i class="fa fa-twitter-square"></i> Twitter</a></li>
				</ul>
            </div>
            <div class="col-sm-3">
                <h5>Our Apps</h5>
                <a href="#"><i class="fa fa-android"></i></a>
                <a href="#"><i class="fa fa-apple"></i></a>
			</div>
		</div>
	</div>
</div>

<div id="footer-copy-right" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-sm-12"><b>Wearwiki</b> © 2016. All rights reserved.</div>
		</div>
    </div>
</div>