/* general */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Ubuntu, Arial, 'libra sans', sans-serif;
  font-size: 13px;
}

.btn {
  font-size: 13px;
}

ul {
  list-style-type: none;
}

a, a:hover a:focus, a:visited {
  text-decoration: none !important;
}

pre {
  background: inherit;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-break: normal;
}

.no-offset {
  margin: 0px;
  padding: 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.form-control {
  padding: 5px;
  height: auto;
}

.main-view-container {
  margin-top: 120px;
	padding-right: 50px;
	padding-left: 50px;
	border-right: solid 1px #E0E0E0;
	border-left: solid 1px #E0E0E0;
}

/* Offer List */
.home-list a {
  color: #000;
}

.home-list .offer-price {
  font-weight: bold;
  font-size: 14px;
}

.home-list .thumbnail {
  max-height: 260px;
}
.home-list .thumbnail .img-div {
  position: relative;
  min-height: 180px;
}
.home-list .thumbnail a>img {
  vertical-align: middle;
  max-height: 180px;
}

.home-list h5 {
  white-space: nowrap;
  overflow: hidden;
}

/* Home */
.home-block {
  border: solid 1px #DDD;
  border-top: solid 2px #E91E63;
  margin: 20px 0;
}

.home-block .women .title {
  border-bottom: solid 1px #DDD;
}
.home-block .women .title .show-more {
  color: #BBB;
  font-size: 16px;
  margin-top: 3px;
}
.home-block .women .title a {
  color: #E91E63;
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 10px 20px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 255px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 360px;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
}


/* Header */
#header {
  background-color: #FFF;
}

#header a {
  color: #333;
}

#header a:hover {
  text-decoration: none;
}

#header .logo {
  font-size: 20px;
}

.navbar {
  background-color: #329BD3;
  margin-bottom: 0;
  border-radius: 0;
  min-height: 0;
}

.navbar-nav>li>a {
  color: #FFF;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:visited, .navbar-nav>li>a:active {
  background-color: #329BD3 !important;
}

.shopping-bag img {
  width: 30px;
}

.header-content {
  padding: 10px 0 5px 0;
}

.search-box {
  position: relative;
  width: 100%;
  border: solid 1px #AFADAD;
  background-color: #FFF;
  border-radius: 2px;
  padding: 0 3px;
  overflow: hidden;
  display: inline-block;
  height: 30px;
}

.search-field input {
  width: 100%;
  float: left;
  border: none;
  outline: none;
  color: #333;
}

.search-btn button {
  z-index: +5;
  position: absolute;
  right: 0px;
  top: -1px;
  border: none;
  background-color: #FFF;
  color: #999;
  outline: none;
  width: 35px;
  height: 30px;
}

.search-field button:hover {
  color: #333;
}

.alerts {
  position: absolute;
  width: 70%;
  right: 15%;
}
.alerts .alert {
  margin: 0;
}

.alerts .global-messages {
  margin-top: 10px;
}


/* Footer */
#footer-top-row {
  background-color: #F3F3F3;
  padding: 20px 0;
  margin-top: 50px;
}

#footer {
  background-color: #0e314b;
  color: #FFF;
  padding: 10px 0px;
}

#footer h4 {
  padding-bottom: 10px;
}

#footer a {
  font-size: 13px;
  text-decoration: underline;
}

#footer a i {
  padding-right: 10px;
}

#footer-copy-right {
  background-color: #0e314b;
  color: #FFF;
  line-height: 35px;
}

#footer .fa {
  font-size: 3em;
}

#footer .fa-facebook-square {
  color: #3a5795;
}

#footer .fa-twitter-square {
  color: #1da1f2;
}

#footer .fa-android {
  color: green;
}

#footer .fa-apple {
  color: #948E8E;
}

#footer .fa:hover {
  color: #000;
}

/* Contact page */
textarea.form-control {
  height: 150px;
}

.contact-us h2 {
  border-bottom: solid 1px #E0E0E0;
  padding-bottom: 10px;
}

.contact-us .form-horizontal {
  margin-top: 20px;
}

/* account page */
.header-bor {
  border-bottom: solid 1px #ebebeb;
  margin: 0 0 10px;
  padding: 0 0 10px;
  color: #2e6da4;
}

ul li {
  list-style-type: none;
}

.side-right form {
  margin: 0px;
  padding-top: 0px;
}

.control-label select {
  width: auto;
}

.phone-select {
  width: auto;
}

.account-content {
  margin-top: 25px;
}

/* Offer View Page */
.variation-pictures img {
  height: 75px;
  width: 60px;
}

.offer-variation-pictures img {
  height: 70px;
  width: 55px;
}

.price {
  font-size: 22px;
}

.zoom:hover {
  cursor: zoom-in;
}

.zoom img, .modal-body img {
  max-width: 100%;
}

/* Sign Up Page */
.firstname-group {
  padding-right: 5px;
}

.lastname-group {
  padding-left: 5px;
}
