<div class="container">
    <div class="col-sm-3">
        <account-side-menu></account-side-menu>
    </div>

    <div class="col-sm-9">

        <div class="row" ng-if="buyerAddresses.length > 0">

            <div class="col-sm-4" ng-repeat="address in buyerAddresses track by $index">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <i class="fa fa-map-marker" aria-hidden="true"></i> <span ng-if="address.isPrimary">Primary</span>
                        <div>{{address.firstname}} {{address.lastname}}</div>
                        <div>{{address.country.name}}</div>
                        <div>{{address.city.name}}</div>
                        <div>{{address.addressLine1}}</div>
                        <div>{{address.addressLine2}}</div>
                        <div>{{address.region}}</div>
                        <div>{{address.postalCode}}</div>
                        <div>{{address.phone}}</div>
                    </div>
                    <div class="panel-footer text-center">
                        <button class="btn btn-default" ng-click="editAddress(address.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"> Edit</i></button>
                        <button class="btn btn-default" ng-click="deleteAddress(address.id, $index)"><i class="fa fa-trash" aria-hidden="true"> Delete</i></button>
                        <button class="btn btn-default" ng-click="makeAddressPrimary(address.id, $index)" ng-if="!address.isPrimary">Make Primary</i></button>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" ng-if="buyerAddresses.length > 0 && !showNewAddress && !showEditAddress">
                <p>If have new address you can add it here:</p>
                <button class="btn btn-default" ng-click="showNewAddressForm()">Add New Address</button>
            </div>


        </div>

        <div class="col-md-8 no-offset">

            <div ng-if="buyerAddresses.length == 0 || showNewAddress">
                <p>Add Your Address</p>
                <address-form type="add" call-back="addAddress(newAddress)"></address-form>
            </div>

            <div ng-if="showEditAddress">
                <p>Edit Address</p>
                <address-form form-type="edit" call-back="updateAddress(updatedAddress)" edit-address-id="editAddressId"></address-form>
            </div>
        </div>
    </div>
</div>