<div class="list-group">
    <a href="/orders" class="list-group-item">Orders</a>
    <a href="/personal-info" class="list-group-item">Personal Info</a>
    <a href="/addresses" class="list-group-item">Delivery Address</a>
    <a href="/wish-list" class="list-group-item">Wish List</a>
</div>