<div class="container">
    <div class="col-sm-3">
        <account-side-menu></account-side-menu>
    </div>

    <div class="col-sm-9">
        <form ng-submit="PersonalInfo()">
            <label class="control-label"> Name </label>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input type="text" class="form-control"  ng-model="PersonalInfo.firstName" placeholder="First Name" required />
                </div>
                <div class="col-sm-6 form-group">
                    <input type="text" class="form-control"  ng-model="PersonalInfo.lastName" placeholder="Last Name" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" class="form-control"  ng-model="PersonalInfo.email" placeholder="Email" required />
            </div>
            <label class="control-label"> Birthday </label>
            <div class="row">
                <div class="col-sm-4 form-group">
                    <select class="form-control" required>
                        <option value="">DAY</option>
                        <option value="90">1</option>
                        <option value="962">2</option>
                    </select>
                </div>
                <div class="col-sm-4 form-group">
                    <select class="form-control" required>
                        <option value="">Month</option>
                        <option value="90">jan</option>
                        <option value="962">feb</option>
                    </select>
                </div>
                <div class="col-sm-4 form-group">
                    <select class="form-control" required>
                        <option value="">YEAR</option>
                        <option value="90">1991</option>
                        <option value="962">1992</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Update"/>
            </div>
        </form>

        <hr />

        <change-password></change-password>
    </div>

</div>