<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Luxury Clothes</p>
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="(key, value) in categories">{{value}}</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row">
                <div class="home-list">
                  <div class="col-md-3 col-sm-6" ng-repeat="offer in offers">
                    <div class="thumbnail">
                        <div class="img-div">
                          <a ng-href="/offer/{{offer.offerId}}/{{offer.variationId}}/{{offer.title}}">
                              <img ng-src="{{offer.picture | imageFilter: MImage : mainCover}}" alt="offer Image" />
                          </a>
                        </div>
                        <div class="caption">
                            <a ng-href="/offer/{{offer.offerId}}/{{offer.variationId}}/{{offer.title}}"><h5>{{offer.title}}</h5></a>
                            <a ng-href="/offer/{{offer.offerId}}/{{offer.variationId}}/{{offer.title}}" class="offer-price">
                              <span ng-if="offer.minPrice == offer.maxPrice">US ${{offer.maxPrice}}</span>
                              <span ng-if="offer.minPrice != offer.maxPrice">US ${{offer.minPrice}} - ${{offer.maxPrice}}</span>
                            </a>
                        </div>
                      </div>
                  </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->
