<!-- Page Content -->
<div class="container">

    <div class="row">


        <div class="col-lg-1 offer-variation-pictures">
            <a href="javascript:void(0);" ng-repeat="(key, picture) in pictures" ng-click="updatePicture(key)">
                <img ng-src="{{picture}}" class="img-thumbnail" />
            </a>
        </div>
        <div class="col-lg-6">
            <!-- Preview Image -->
            <a class="zoom" data-toggle="modal" data-target="#myModal">
                <img ng-repeat="(key, picture) in pictures" ng-src="{{offerDetails.picture | imageFilter: LImage : key}}" ng-if="pictureViewdKey == key" />
            </a>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img ng-repeat="(key, picture) in pictures" ng-src="{{offerDetails.picture | imageFilter: original : key}}" ng-if="pictureViewdKey == key" />
                    </div>
                </div>

            </div>

        </div>

        <div class="col-lg-5">

            <h3>{{offerDetails.title}}</h3>

            <h5>
                <div><label>Brand </label> <a href="javascript:void(0);">{{offerDetails.brand}}</a></div>
            </h5>

            <h5>
                <label>Price</label>
                <div class="price">
                    <span ng-if="selectedPrice == 0">${{minPrice}} - ${{maxPrice}}</a></span>
                    <span ng-if="selectedPrice > 0">${{selectedPrice}}</a></span>
                </div>
            </h5>

            <hr />

            <div class="variation-pictures">
                <label>Colors</label>
                <ul class="list-inline">
                <li ng-repeat="(key, variationPicture) in offerDetails.variationsPictures">
                    <a href="javascript:void(0);" ng-click="updateVariation(key)">
                        <img ng-src="{{variationPicture | imageFilter: SImage : mainCover}}" class="img-thumbnail" data-toggle="tooltip" title="{{offerDetails.variationsColors[key]}}" tooltip />
                    </a>
                </li>
                </ul>
            </div>

            <div>
                <label>Sizes</label>
                <div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-repeat="sizes in categorySizes" ng-click="changeSize(sizes.id)" ng-class="getSizeClass(sizes.id)" ng-disabled="getSizeClass(sizes.id) == 'disabled'">{{sizes.name}}</button>
                    </div>
                </div>
            </div>

            <div ng-if="stockQuantity > 0">
                <h5><span ng-if="stockQuantity < 6">Only </span><b>{{stockQuantity}}</b> Item left in stock</h5>
            </div>

            <hr>

            <div class="row">
                <span class="col-lg-2"><label class="">Quantity</label></span>
                <span class="col-lg-3"><input class="form-control" type="number" ng-model="quantity" /></span>
                <span class="col-lg-2"><button class="btn btn-success btn-md" ng-click="addToCart()"><i class="fa fa-shopping-bag"></i>&nbsp;&nbsp;Add to Cart</button></span>
            </div>

            <hr>

            <!-- Post Content -->
            <label>Description</label>
            <pre ng-bind-html="offerDetails.description"></pre>

        </div>

    </div>
    <!-- /.row -->

    <hr />

    <div class="row">

        <div class="col-lg-4">
            <h4>Item Details</h4>
        </div>
        <div class="col-lg-4">
            <h4>Shippment</h4>
            <p>Shipping take from 3 to 5 business days</p>
        </div>

    </div>

</div>
