<div class="container">
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Sign up for an account</h2>
            <form ng-submit="signUp()">
                
                <div class="col-md-6 no-offset">
                    <div class="form-group firstname-group">
                        <label class="control-label" for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" ng-model="signUpForm.firstname" required />
                    </div>
                </div>

                <div class="col-md-6 no-offset">
                    <div class="form-group lastname-group">
                        <label class="control-label" for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" ng-model="signUpForm.lastname" required />
                    </div>
                </div>
            
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" ng-model="signUpForm.email" required />
                    <small class="text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                    <label class="control-label" for="emailConfirm">Reenter Email</label>
                    <input type="email" class="form-control" id="emailConfirm" ng-model="signUpForm.emailConfirm" required />
                </div>
          
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" ng-model="signUpForm.password" placeholder="At least 6 characters" required />
                </div>
          
                <div class="form-group">
                    <label>By creating an account you agree to our <a href="#">Terms and Conditions</a></label>
                </div>

                <div class="form-group">
                    <div class="g-recaptcha" data-sitekey="6LecPx8TAAAAAH06U74K7wOnZb6fjeCBG5OHfqCQ"></div>
                </div>
         
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Sign Up" />
                </div>

            </form>
        </div>
    </div>
</div>
