<div class="container contact-us">
    <h2>Contact Us</h2>
    <form class="col-md-9 form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2 " for="name">Name:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="name" placeholder="<Optional>" autofocus />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 " for="phone">Phone:</label>
            <div class="col-md-10">
                <input type="email" class="form-control" id="phone" placeholder="<Optional>">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 " for="email">Email:</label>
            <div class="col-md-10">
                <input type="email" class="form-control" id="email" placeholder="<Optional>" />
            </div>
        </div>
        <div class="form-group">
            <label class=" control-label col-md-2">Message:</label>
            <div class="col-md-10">
                <textarea class="form-control" placeholder="Your Message" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
            </div>
        </div>
    </form>

</div>